[submodule "foundry/lib/ds-test"]
	path = foundry/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "foundry/lib/squeeth-monorepo"]
	path = foundry/lib/squeeth-monorepo
	url = https://github.com/opynfinance/squeeth-monorepo
[submodule "foundry/lib/v3-core"]
	path = foundry/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "foundry/lib/v3-periphery"]
	path = foundry/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/lib/openzeppelin-contracts-upgradeable"]
	path = foundry/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
